@model GC.RESUME.CORE.DAL.Entities.award

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>award</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.compName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.compName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yearRec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yearRec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profile.address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
